version: 2
updates:
  # Maintain pip dependencies
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      python-dependencies:
        patterns:
          - "*"

  # Maintain GitHub Actions configurations
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
