# --- Database Credentials ---
POSTGRES_DB=myproject_db
POSTGRES_USER=myproject_user
POSTGRES_PASSWORD=myproject_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- Django Config ---
# We can reference the variables above to build the URL automatically
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# --- Other ---
DEBUG=True
SECRET_KEY=change_me_to_a_secure_random_string
CELERY_BROKER_URL=redis://localhost:6379/0

# --- Tecnomega ---
PRICE_LIST_BASE_URL=http://www.tecnomega.com/envio_promocion_precios.php
TECNOMEGA_STOCK_LIST_BASE_URL=http://buscador.tecnomega.com/busqueda.php
TECNOMEGA_SCRAPE_CATEGORIES=notebook,tarjeta video,monitor,procesador,mainboard,case,computador,ram,fuente,hdd,ssd,televisor,proyector,camara,escaner,impresora,mouse,teclado,joystick,parlante,router,switch,nvr,ups,celular,tablet,linea blanca,software,access point,server

# --- OpenRouter ---
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_CLASSIFICATION_MODEL=openai/gpt-4o-mini

# --- Mercado Libre ---
MERCADOLIBRE_BASE_URL=https://api.mercadolibre.com
MERCADOLIBRE_AUTH_URL=https://auth.mercadolibre.com.ec
MERCADOLIBRE_CLIENT_ID=your_app_id
MERCADOLIBRE_CLIENT_SECRET=your_client_secret
MERCADOLIBRE_REDIRECT_URI=https://127.0.0.1:8000/mercadolibre/callback/
