-r requirements.txt
boto3-stubs==1.42.59
botocore-stubs==1.42.41
celery-types==0.24.0
cfgv==3.5.0
distlib==0.4.0
django-stubs==5.2.9
django-stubs-ext==5.2.9
djangorestframework-stubs==3.16.8
factory_boy==3.3.3
Faker==40.5.1
identify==2.6.16
iniconfig==2.3.0
mock==5.2.0
model-bakery==1.23.3
mypy==1.19.1
mypy_extensions==1.1.0
nodeenv==1.10.0
pandas-stubs==3.0.0.260204
platformdirs==4.9.2
pluggy==1.6.0
pre_commit==4.5.1
pytest==9.0.2
pytest-django==4.12.0
ruff==0.15.4
types-awscrt==0.31.2
types-pytz==2025.2.0.20251108
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20260107
types-s3transfer==0.16.0
virtualenv==21.1.0
